matplotlib
numpy==1.26.3
scikit-image
scikit-learn
scipy
tqdm
pytest
pytest-cov
torch
torchvision
keras
seaborn
plotly
autograd
jupyter
ipykernel
ipywidgets
transformers
backtesting
pandas-ta==0.3.14b0
imbalanced-learn